//  PALET OF COLORS
$color-gradient :linear-gradient(to top, #da22ff, #9733ee); 
$color-one :#EEEE;
$color-two:#C4C4C4;
$color-three:#F4F4F4;
$color-four:#E9E9E9;
$color-five:#7D7D7D;
//  COLORS OF POKEMONS
$type-one:#41A84F;
$type-two:#E06518;
$type-three:#0B93D3;

