@import "../resources-sass/normalize";
@import "../resources-sass/variables";
@import "../resources-sass/mixin";
body{
    font-family:'Roboto',sans-serif;
    background:$color-three;
}
header{
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:28px 1rem 0 1rem;
    }
    .logo__pokeball{
        width: 72px;
        height: 84px;
    }
    .logo__text{
        width: 161px;
        height: 36px;
        margin:0 0 0 1rem;
    }
}
.search{
    padding:14px 1rem 0 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    .search__input{
        height: 24px;
        width: 157px;
        border-radius: 20px;
        text-align: center;
        border:none;
        background:$color-four
    }
    .arrow{
        font-size:25px;
        cursor: pointer;
    }
    ::placeholder{
        font-weight: 500;
        font-size:10px;
        color:$color-five;
    }

}
main{
    padding:20px 1rem 0 1rem;
    display:flex;
    justify-content: center;
    display:grid;
    grid-template-columns:repeat(2,112px) ;
    grid-gap:24px;
    .pokemon__box{
        height: 118px;
        width: 112px;
        position: relative;
        display:flex;
        justify-content: center;
        .pokemon__image{
            width: 53px;
            height: 63px;
            position: absolute;
            top:0;
            z-index:300;
        }
    }
    .pokemon{
        background:$color-gradient;
        border-radius:15px; 
        padding:0 1rem 5px 1rem;
        height: 80px;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .pokemon__name__box{
        background:#FFFF;
        height: 16px;
        font-weight:500;
        font-size:10px;
        border-radius:5px;
        display:flex;
        align-items: center;
        justify-content: center;
        padding:0 0 0 5px;
        .pokemon__name{
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .pokemon__description{
        display:flex;
        background:#FFFF;
        font-weight: 500;
        font-size:10px;
        padding:0 1rem;
        display:flex;
        justify-content: space-between;
        border-radius:5px;
        margin:6px 0 0 0;
        height: 15px;
        display: flex;
        align-items: center;
    }
    .pokemon__description__number__box, .pokemon__description__type__box{
        height: 16px;
        display:flex;
        align-items: center;
    }
    .pokemon__description__number, .pokemon__description__type{
        text-overflow: ellipsis;
        overflow: hidden;
        width: 25px;
    }
    .pokemon__click{
        background:transparent;
        z-index:500;
        position: absolute;
        bottom: 0;
        top:0;
        left:0;
        right:0;
    }
}
@media screen and (min-width:500px){
    header{
        .logo{
            display:flex;
            justify-content: center;
            align-items: center;
            padding:20px 0 0 0 ;
        }
        .logo__pokeball{
            margin:0 2rem 0 0;
        }
    }
    .search{
        display:flex;
        justify-content: center;
        .search__input{
            width: 200px;
            height: 30px;
            margin:0 3rem;
        }
        ::placeholder{
            font-size:1rem;
        }
    }
    main{
        grid-template-columns: repeat(3,auto);
        .pokemon__box{
            height: 150px;
            width: 125px;
            .pokemon__image{
                width: 80px;
                height: 80px;
            }
        }
        .pokemon{
            padding-bottom: 10px;
        }
        .pokemon__name__box{
            font-size:1rem;
            height:20px ;
        }
        .pokemon__description{
            height: 20px;
            font-size:1rem;
            align-items: center;
            justify-content: space-between;
            padding:0 10px;
        }
        .pokemon__description__number, .pokemon__description__type{
            text-overflow: ellipsis;
            overflow: hidden;
            width: 40px;
        }
    }
}
@media screen and (min-width:1000px){

    header{
        .logo__pokeball{
            width: 97px;
            height: 113px;
        }
        .logo__text{
            width: 357px;
            height: 80px;
        }
    }
    .search{
        .search__input{
            width:619px;   
            height: 40px;
            border-radius:10px;
        }
        ::placeholder{
            font-size:20px;
        }
    }
    main{
        padding-top:61px;
        .pokemon__box{
            // background:red;
            width: 137px;
            height: 178px;
            .pokemon__image{
              width: 81px;
             height: 95px;
            }
        }
        grid-template-columns:repeat(6,auto);
        .pokemon{
            padding-bottom:8px;
            height: 100px;
            
        }
        .pokemon__description, .pokemon__name__box{
            height: 25px;
        }
    }
}
@include pokemon-active;